<div class="container" *ngIf="boxes$ | async as boxes">
  <div class="box-grid">
    <cgr-box-card *ngFor="let box of boxes; trackBy: trackById" [box]="box" [showLinkBtn]="true">
      <button actionBtn class="btn btn-success" type="button" [routerLink]="['/boxes', box.id]">
        View Box
      </button>
    </cgr-box-card>
  </div>

  <div class="d-grid p-3">
    <button (click)="onLoadMoreClick()" class="btn btn-primary" type="button">
      {{ 'Load more' | uppercase }}
    </button>
  </div>
</div>
